<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Projects for Biomedical Information Retrieval Course{% endblock %}</title>

		<!--iPhone specific-->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link href="images/icon.png" rel="apple-touch-icon" /> 

		<!--Baseline CSS files-->
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.reset.css">
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.base.css">
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.type.css">
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.table.css">
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.form.css">
		<link type="text/css" rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/uncompressed/baseline.grid.css">
		<style>
			#page					{ margin: 0 auto 36px auto; }
			#branding a				{ border: none; }
            p {margin-bottom: 8px;}
		</style>
	</head>

	<body class="page-grid">
		<div id="page">
            <header id="branding">
            	<h1>Project: MetaSearch Engine: Google, Yahoo, Bing, Baidu</h1>
            	<hr />
            </header>
            <section class="width4 stroke">
            	<div class="full">
                    <img src="{{ STATIC_URL }}images/logo.png">
            	    <form>
            		    <label class="width2 first"><input type="text" name="q" value="成大 資訊工程" class="text"></label>
            			<label class="width1"><input type="submit" value="Search" class="unitx1"></label>
            		</form>
            	</div>
            </section>
			<footer class="full">
				{% block footer %}
				<hr />
				<p><small>Projects for Web Resource Discovery and Utility Course. 資訊工程-P78011167-楊家融-HW2. 2012</small></p>
				{% endblock footer %}
			</footer>
            <script>
			{% block jquery %}
			{% endblock jquery %}
            </script>
		</div>	
	</body>
</html>